name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest  # Specify the OS

    steps:
    - uses: actions/checkout@v4  # Checkout the repository

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'  # Set the Go version

    - name: Cache Go modules
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Go mod tidy
      run: cd feed-api; go mod tidy  # Ensure Go modules are up to date

    - name: Build
      working-directory: feed-api  # Specify the directory for build
      run: cd feed-api; go build .  # Build the Go project

      # - name: Run tests
      # working-directory: feed-api  # Specify the directory for tests
      # run: go test ./...  # Run Go tests if you have any
